body {
    background-color: #FFFFFF;
    margin-left: 100px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-repeat: repeat-x;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #404040;
}
